<div id='nav'>
  <%= link_to 'Cupboard', cupboard_path %>
  <%= link_to 'Find Recipes', recipe_path %>
</div>

<div>
  <p><%= current_user.email %></p>
  <p><%= current_user.id %></p>
</div>

<%= render partial: "dashboard/recipe_partial", locals: { recipe: @recipe } %>
<%= button_tag link_to("New Recipe", dashboard_path, method: :get)%>
